// About Me
section
  .range.range-xs-center.offset-top-66
    .cell-lg-5.text-lg-right
      img.img-responsive.center-block(src="images/profile-picture.jpg" width="440" height="480" alt="")
      .range.range-xs-center.offset-top-34
        .cell-sm-8.cell-md-6.cell-lg-12
          .inset-xs-left-80.inset-xs-right-80
            a.btn.btn-lg.btn-block.btn-primary.btn-rect.text-spacing-120.text-regular(href="/contact") get in touch
    .cell-sm-10.text-left.cell-md-9.offset-top-41.cell-lg-5.offset-lg-top-0
      .inset-sm-left-30
        p In 1985, straight out of high school, Craig went to work for what was then a one man show known as Troy Lee Designs.  As Troy’s first employee, Craig developed into one of the most prominent graphic designers in the industry.  
        p During those years, Craig worked with and head up projects for many of the greatest names in the world.  Vehicle manufacturers such as Mazda, Nissan, Range Rover and Hyundai.  Companies including Mattel, Fender and Fabtech.  Racers with names like Andretti, McGrath, Jeff Gordon and film and music artists such as Sylvester Stallone, Arnold Schwarzenegger and Tommy Lee.
        p Now, celebrating a decade on his own and over 30 years of experience, Craig is continuing to work with the best of the best.  Companies like: Funco Motorsports, K&N Engineering, Fabtech, Jerome Dahan from Citizens of Humanity, Buckshot Racing and Sand Cars Unlimited, just to name a few.
        p “They say time fly’s when you’re having fun – there is no doubt, I am enjoying every minute of what I do!”