-
  var cfg = {
    "type": "Photographer Portfolio",
    "brand": {
      "name": "Haynie Designs",
      "slogan": "Custom Paint and Design",
      "logo": "<img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo_black_1080.png' alt=''/>"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "/"
      },
      "aboutMe": {
        "title": "About",
        "href": "/about"
      },
      "portfolio": {
        "title": "Gallery",
        "href": "/gallery",
      },
      //- "product": {
      //-   "title": "Product",
      //-   "href": "/product"
      //- },
      "contactUs": {
        "title": "Contact Us",
        "href": "/contact"
      }
    }
  }
