extends  ../layout

//- Includes
include ../elements/_ui-rd-parallax
include ../elements/_ui-thumbnail-apollo
include ../elements/_ui-isotope

//-Title
block title
  title= cfg.nav.portfolio.title



//- Page
block page
  link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css")
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-sidebar-toggle(
    'rd-navbar-sidebar-toggle rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-fixed',
      "data-lg-stick-up": 'false',
      "data-lg-hover-on": "false"
    },
    "<img style='margin-top: -5px;margin-left: -15px;' width='250' src='images/logo_black_1080.png' alt=''/>",
    cfg.nav.portfolio,
    cfg.nav
    )

  // Page Content
  main.page-content
    // Page Header
    include ../sections/_section-header

    // Portfolio
    section#gal.section-85
      .shell-fluid
        h1.text-bold Gallery
        ul.p.list-inline.list-inline-dashed.offset-top-24
          li
            a(href=cfg.nav.home.href) Home
          li Gallery
        .offset-top-30
          +isotope(['Sand Rails', 'Vehicles', 'Helmets', 'Fish Factory', 'Misc'],{
            "alignClass": "isotope-filters-vertical"
          }, "selection")
            .row.images(data-index=1, style="min-height: 100%")
            .row
              div.col-sm-12
                div.next(data-filter="Sand Rails", style="display: none;")
            .row.hidden-md.hidden-lg
              div.col-sm-12
                button.btn.more More
  div.image-pop
    img(src="")

  script.
    document.addEventListener('DOMContentLoaded', function(){
      var result = !{JSON.stringify(result)};
      result.forEach(function(e, i) {
        for(var i = 1; i < e.length; i++) {
          if(i == 1)
            var image = '<div class="col-xs-12 col-sm-12 col-md-4" style="display: none;" data-type="' + e[0].name + '" data-src="https://s3-us-west-2.amazonaws.com/hayniephotos/' + e[i].Key + '">'
            + '<div style="background-image: url(\'https://s3-us-west-2.amazonaws.com/hayniephotos/thumb_' + e[i].Key + '\'); background-size: cover; background-position-x: 50%; background-position-y: 50%">'
            + '</div>'
            + '</div>';
          else
            var image = '<div class="col-xs-12 col-sm-12 col-md-4" style="display: none; margin-bottom: 1.3rem;" data-type="' + e[0].name + '" data-src="https://s3-us-west-2.amazonaws.com/hayniephotos/' + e[i].Key + '">'
            + '<div style="background-image: url(\'https://s3-us-west-2.amazonaws.com/hayniephotos/thumb_' + e[i].Key + '\'); background-size: cover; background-position-x: 50%; background-position-y: 50%">'
            + '</div>'
            + '</div>';
          $('.images').append(image);
        }
      });

      // display our initial list
      displayNext();

      $(window).scroll(function() {
        if($(window).scrollTop() + $(window).height() == $(document).height()) {
          displayNext();
        }
      });

      $('.more').click(function(e){
        e.preventDefault();

        displayNext();
      });

      $('#selection > li > a').click(function(e) {
        var filter = $(this).data('isotope-filter');
        $('#selection > li > a.active').removeClass('active');
        $(this).addClass('active');
        $('.next').data('filter', filter);
        $('.images > div').fadeOut();
        displayNext(true);
      });

      $('.images > div').click(function(e) {
        $('.image-pop > img').attr('src', 'https://s3-us-west-2.amazonaws.com/hayniephotos/Assets/Loading.gif');
        $('.image-pop').fadeIn().addClass('showing');
        var height = $('.image-pop > img').height();
        var width = $('.image-pop > img').width();
        var wHeight = $(window).height();
        $('.image-pop > img').css('margin-top', wHeight/2 - height/2).css('width', width);
        $('.section-relative').css('z-index', -1);
        //- var img = $(this).data('src');
        console.log(new URL($(this).data('src')).href);
        var img = new Image();
        img.addEventListener('load', function() {
          $('.image-pop > img').attr('src', img.src);
          var height = $('.image-pop > img').height();
          var width = $('.image-pop > img').width();
          var wHeight = $(window).height();
          $('.image-pop > img').css('margin-top', wHeight/2 - height/2).css('width', width);
          $('.section-relative').css('z-index', -1);
        });
        img.src = new URL($(this).data('src')).href;
      });

      $('.image-pop').click(function() {
        if($(this).hasClass('showing')) {
          $(this).removeClass('showing').fadeOut()
          $('.section-relative').css('z-index', 0);
        }
      });

      function displayNext(reset) {
        var filter = $('.next').data('filter');
        // get the list element
        var list = $('.images');
        var children;
        if(filter != "*")
          children = list.children('[data-type="' + filter + '"]');
        else
          children = list.children();

        // get index stored as a data on the list
        var index = reset ? 1 : list.data('index');

        // save next index - for next call
        list.data('index', index + 20);

        // Get 20 elements from Images - starting from index
        for(var i = index-1; i < index + 20; i++) {
          $(children[i]).fadeIn(function() {
            var img = $(this).find('img');
            var container = $(this).find('div');
            var height = img.height();
            container.css('padding-bottom', $(this).parent().width() * .33333333333);

            if(height < $(this).height()) {
              var difference = $(this).height() - height;
              img.css("top", difference/2);
            }
            
          });
        }

      }

    }, false);